<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing stack</h1>

  <%= render "form", stack: @stack %>

  <div class="flex sm:justify-end sm:-mt-12 mt-6">
    <%= button_to "Delete", stack_path(@stack), method: :delete, class: "btn btn-warning" %>
  </div>
</div>
