<div class="w-full">
  <div class="flex justify-between">
    <h1>Stacks</h1>
    <%= link_to "New stack", new_stack_path, class: "btn btn-primary mb-6" %>
  </div>

  <div id="stacks" class="flex flex-col space-y-4">
    <%= render @stacks %>
  </div>
</div>
