<div class="container mx-auto max-w-3xl px-4 mt-3 mb-1">
  <div class="flex justify-end">
    <% if current_user %>
      <%= link_to current_user.email, root_path, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to "Sign Up", sign_up_path, class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>
